
.content1{
  height: 300px;
  width: 100px;
  
}


.card-width{
  width:350px;
}
.upload-txt{
  padding: 20px;
  background-color: lightblue;
}
.btn-width{
  width: 100%;
  padding: 3px;
}

.card-title{
  
  background-color: #eaeaea;
  padding: 5px;
 
}

.card-img-top {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.card-btn{
  width: 100%;
}

.card-hight{
  height: 350px;
}
.img-hight{
  height: 150px;
}

.txt-hight{
  height:50px;
}